.button {
  display: flex;
  width: 24px;
  height: 24px;

  align-items: center;
  justify-content: center;

  outline: var(--outlineColor);
  border: var(--borderColor);

  cursor: pointer;
  transition: color outline border var(--smoothTransition);

  svg {
    width: 40px;
    height: 40px;

    transition: color var(--smoothTransition);
  }

  &:hover,
  &:focus {
    color: var(--pageColor);
    background: var(--btnHover);
    outline-color: var(--outlineHover);
    box-shadow: var(--BtnShadow);
  }

  @media screen and (min-width: 1200px) {
    width: 30px;
    height: 30px;
  }
}
