.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 0 15px;

  background-color: var(--containerColor);
  box-shadow: var(--containerShadow);

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1024px;
  }
}
