.cardWrapper {
  max-width: 450px;
  padding: 5px;
  margin-bottom: 5px;

  border-radius: 5px;
  box-shadow: var(--cardShadow);
  background-color: var(--cardColor);

  @media screen and (min-width: 768px) {
    width: 346px;
    min-height: 220px;
    padding: 8px;
    margin: 8px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 305px;
    width: 305px;
    min-height: 390px;
    padding: 15px;
    margin: 12px;

    border-radius: 15px;
  }
}
.cardBuy {
  padding: 8px;
  display: flex;
  justify-content: space-between;

  outline: var(--outlineColor);
  border: var(--borderColor);
  border-radius: 5px;
  background-color: grey;

  @media screen and (min-width: 768px) {
    min-height: 204px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 370px;
    padding: 12px;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;
  }
}

.card {
  padding: 8px;
  display: flex;
  justify-content: space-between;

  outline: var(--outlineColor);
  border: var(--borderColor);
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    min-height: 204px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 370px;
    padding: 12px;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    margin-bottom: 8px;
  }
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--nameCardColor);
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 1.4;
  }
}
.imageContainer {
  width: 120px;
  height: 120px;

  box-shadow: var(--cardShadow);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 90px;
    height: 90px;
  }

  @media screen and (min-width: 1200px) {
    width: 125px;
    height: 125px;
  }
}

.image {
  width: 120px;
  height: 120px;
  display: block;

  object-fit: cover;

  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 90px;
    height: 90px;
  }

  @media screen and (min-width: 1200px) {
    width: 125px;
    height: 125px;
  }
}
.productInfo {
  width: 234px;
  padding: 0 5px;

  @media screen and (min-width: 768px) {
    padding: 0 8px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.info {
  margin-bottom: 8px;
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  border: 1px solid #f2ece4;
  box-shadow: var(--cardShadow);
  border-radius: 4px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  color: var(--infoTextColor);
}

.price {
  font-size: 20px;
  line-height: 1.25;
}

.currency {
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 1200px) {
    margin-left: 8px;
  }
}
.description {
  text-align: start;

  @media screen and (min-width: 1200px) {
    min-width: 80px;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (min-width: 1200px) {
    min-width: 234px;
    flex-direction: row;
  }
}
