.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  min-width: 272px;
  min-height: 400px;
  padding: 20px;

  border-radius: 15px;

  background-color: var(--cardColor);
  @media screen and (min-width: 768px) {
    max-height: 100vh;
    width: 50vw;
    height: auto;
  }
}
.closeModal {
  position: absolute;
  top: 15px;
  right: 15px;
}
