@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --mainFont: EB Garamond, serif;
  --pageColor: #fff;
  --containerColor: #e0dfd720;
  --containerShadow: 0px 0px 150px rgba(0, 0, 0, 0.05);
  --cardColor: #f9f7f4;
  --cardShadow: 0px 24px 44px rgba(0, 0, 0, 0.05);
  --mainTextColor: #212121;
  --infoTextColor: #313131;
  --nameCardColor: #242424;
  --borderColor: 2px solid #f2ece4;
  --outlineColor: 2px solid hsl(0, 0%, 100%);
}

body {
  font-family: var(--mainFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background-color: var(--pageColor);
  color: var(--mainTextColor);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;

  font-family: inherit;
  text-decoration: none;
  text-align: center;

  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0000);
  overflow: hidden;
}
